<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <!-- Royalty-free image taken from: http://unrestrictedstock.com/ -->
                        <img id="brand-image" src="~/Images/countdown.png" />
                        <span id="brand-text">Count Down</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text navbar-right">
                        @if (ViewBag.NavRight != null)
                        {
                            @ViewBag.NavRight
                        }
                        else if (User != null) // todo: might have to fix this user conditional
                        {
                            @User.Identity.Name
                        }
                    </p>
                </div>
            </div>
        </nav>
        <div id="navigation">
            @RenderSection("navigation", required: false)
        </div>

        @RenderBody()
        @RenderSection("scripts", required: false)

        <div id="footer">
            <div class="container">
                <p class="text-muted">&copy; 2014 Jordan Brown</p>
            </div>
        </div>
    </body>
</html>
