@model dynamic

@{
    ViewBag.Title = "Login";
    ViewBag.NavRight = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            var emailInput = $("input[name=email]");
            if (!emailInput.val()) {
                emailInput.focus();
            } else {
                $("input[name=password]").focus();
            }
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="@Url.Action("Login")" method="POST">
                <div class="top-buffer"></div>
                @if (TempData["loginMessage"] != null)
                {
                    <div id="login-message">
                        @TempData["loginMessage"]
                    </div>
                }
                else if (TempData["loginError"] != null)
                {
                    <div id="login-error">
                        @TempData["loginError"]
                    </div>
                }
                <div id="login-fields">
                    <div class="form-group">
                        @Html.ValidationMessage("Email")
                        <input type="email" class="form-control" name="email" placeholder="Email address" value="@Html.Raw(TempData["registeredEmail"] ?? Request["email"])"/>
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessage("Password")
                        <input type="password" class="form-control" name="password" placeholder="Password" value="@Request["password"]"/>
                    </div>
                </div>
                <div class="form-block-button">
                    <input type="submit" class="btn btn-primary btn-block" value="Login" />
                </div>
            </form>
            <div class="form-block-button">
                <button class="btn btn-default btn-block">Reset Password</button>
            </div>
            <div class="form-block-button">
                <input type="button" class="btn btn-default btn-block" value="Register" onclick=" window.location.href = '@Url.Action("Register")' "/>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>