@model dynamic

@{
    ViewBag.Title = "Create To-Do Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navigation{
    <a id="todo-create-home" href="@Url.Action("Index", "Home")">Home</a> > New To-Do
}
@section scripts{
    <script src="~/Scripts/ToDo/create.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="@Url.Action("Create")" method="POST" class="form-horizontal top-buffer">
                <h3>Create To-Do Item</h3>
                <hr/>
                <div class="form-group">
                    <label for="todo-create-title" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("Title")
                        <input type="text" class="form-control" id="todo-create-title" name="title" value="@Request["title"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-desc" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("Description")
                        <textarea class="form-control" id="todo-create-desc" name="description" value="@Request["description"]" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-start-date" class="col-sm-3 control-label">Start Date</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("StartDate")
                        <input class="form-control datepicker" id="todo-create-start-date" name="startDate" value="@Request["startDate"]" data-date-format="yyyy/mm/dd"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-start-time" class="col-sm-3 control-label">Start Time</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("StartTime")
                        <input type="text"class="form-control timepicker" id="todo-create-start-time" name="startTime" value="@Request["startTime"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-due-date" class="col-sm-3 control-label">Due Date</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("DueDate")
                        <input class="form-control datepicker" id="todo-create-due-date" name="dueDate" value="@Request["dueDate"]" data-date-format="yyyy/mm/dd"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-due-time" class="col-sm-3 control-label">Due Time</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("DueTime")
                        <input type="text" class="form-control timepicker" id="todo-create-due-time" name="dueTime" value="@Request["dueTime"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="todo-create-assign" class="col-sm-3 control-label">Assign To</label>
                    <div class="col-sm-9">
                        @Html.ValidationMessage("Assignee")
                        @Html.DropDownList("assigneeid")
                    </div>
                </div>
                <div id="todo-create-buttons" class="pull-right">
                    <button class="btn btn-default">Cancel</button>
                    <input type="submit" value="Submit" class="btn btn-primary" style="margin-left: 6px;" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
